.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.ts
!dist/**
node_modules/**
# Ignore everything in node_modules except mappings.wasm and vscode package
node_modules/**
!node_modules/vscode/**

esbuild.js

mbt_test/
mbt_test2/